<main>
    <h1>アカウント作成</h1>

    <% if (typeof data !== 'undefined'){ %>
        <p><%= data %></p>
    <% }%>
    <form action="/signup" method="post">
        <p>
            <div>
                ユーザーID <input type="text" name="user_id">
            </div>
        </p>
        <p>
            <div>
                パスワード<input type="text" name="password">
            </div>
        </p>
        <input type="submit" value="登録">
    </form>
</main>